
package-lock.json
yarn.lock
node_modules/


__pycache__/
*.pyc
*.pyo
*.pyd


*.log
*.tmp
*.bak
*.out


.git/
.gitignore


.vscode/
.idea/
*.swp


LICENSE.txt
README.md
CONTRIBUTING.md


*.scss


*.ico
*.png
*.jpg
